<div>
  <a href="<%= url_for(:namespace => nil, :controller => '/politicians', :action => :all, :format => :csv) %>">Getchya spreadsheets! Getchya spreadsheets!</a>
</div>

<div id="admin-list">
<h3>List of Twoopsters &nbsp;<span style="font-size:.8em;"><em>(<%= link_to "add new", admin_new_user_path %>)</em></span></h3>
<ul style="margin: 20px;">
<% @politicians.each do |pol| %>
  <li>
    <%= link_to pol.user_name, admin_admin_user_path(pol.id) %>
  </li>
<% end %>
</ul>
</div>
