/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *








 */
/** Additional admin styles */


.admin_header {
	position: relative;
	height: 70px;
	margin-top: -20px;
}

.admin_header ul.nav {
	margin-bottom: 30px;
	position: absolute; left: 0;
}

.admin_header ul.nav li {
  display: inline-block; 
  margin-right: 20px;
  font-size: 125%;
}
.admin_header ul.nav li a {text-decoration: underline;}

.admin_header div.details {
	margin-bottom: 10px;
	position: absolute; right: 0;
	font-size: 90%;
}

div.admin.review {
  margin: 10px 0 10px 0;
}

div.admin.review input {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 110%;
}

div.admin.review span.reviewed_at {

}

div.admin.review a.edit {
  font-size: 80%;
}

div.admin.review div.review_message {
	margin-top: 15px; margin-bottom: 0;
}

div.admin.review div.review_message p {margin-bottom: 5px;}

div.admin.review label.review_message {
	display: block;
	margin-top: 10px;
}

div.admin.review textarea.review_message {
	display: block;
	margin: 10px 0;
	height: 100px; width: 80%;
}

div.admin_error {
	margin-bottom: 40px;
	padding: 5px 10px;
	margin-top: -20px;
}

#admin-politician ul li {margin: 10px; padding: 5px; width: 420px; }

#admin-politician img { margin-top: -20px; }

#admin-politician ul li span.formfield { float: right; }

#admin-politician ul li span.formfield button.expander {
    position: relative;
    left: 20px;
    width: 20px;
    height: 25px;
    margin-left: -22px;
    padding: 0;
    display: inline-block;
    font-size: 16px;
}

#admin-politician ul li div.expandable {
    padding: 3px;
    margin: 0;
    border-width: 0;
}

#admin-politician ul.suggestions li.suggestion {
    padding: 0;
    margin: 3px 0 5px 0;
    height: 80px;
    width: 100%;
    border-width: 0;
    background: transparent;
}

#admin-politician ul.suggestions li.suggestion span.name {
    vertical-align: top;
    font-size: 16px;
    text-align: right;
}

#admin-politician ul.suggestions li.suggestion a.identifier {
    vertical-align: bottom;
    font-size: 16px;
    text-align: right;
    white-space: nowrap;
    overflow: visible;
}

#admin-politician ul.suggestions li.suggestion img.photo {
    height: 80px;
    width: 66px;
    margin: 0 6px 0 0;
    padding: 0;
    border-width: 0;
}
#admin-politician ul.suggestions li.suggestion div.right {
    float: right;
    width: 340px;
}

#admin-politician span#name {font-size: 1.2em; font-weight: bold;}

#admin-politician ul li button { text-indent: 0; border: 1px solid; padding: 5px;  }

#s_input, #suffix_input { width:20px; }
#state { width: 20px ;}
#mn_input, #middle_name_input { width: 30px; }

#admin-politician #first_name, #admin-politician #middle_name, #admin-politician #last_name, #admin-politician #suffix { float: left; margin-left: 3px;margin-right: 3px}

#admin-politician #first_name_input, #admin-politician #middle_name_input, #admin-politician #last_name_input, #admin-politician #suffix_input { float: left; margin-left: 3px;margin-right: 3px}

#admin-list { font-size: 1.2em;}

#admin-list h1 {width: auto; display: block ; float:none; }

input { margin: 15px 0; }

span.error { display: block;  }
#admin-politician input { margin: 0}
input.related { width: 250px; }
input.state { width: 30px;} 

table#queue-list { margin-top: 30px; }
table#queue-list tr td:first-child { padding-right: 1em; }
td.numeric { text-align: right; }

div#annual-report h3 {
    margin: 3em 1em 1em 0;
}
div#annual-report ul {
    margin: 3em 0 0 0;
}
div#annual-report ol {
    margin: 0 0 0 3em;
}
div#party-tweeting table {
    border-collapse: collapse;
}
div#party-tweeting table th {
    padding: 0.3em;
}
div#party-tweeting table td {
    border: 1px solid gray;
    text-align: right;
    padding: 0.3em;
}
div#party-tweeting table td:first-child {
    text-align: left;
}


/* line 5, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#politwoops-app a, #politwoops-app a:hover {
  color: #237EB5;
}

/* line 9, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .disabled {
  background-color: transparent !important;
  color: black !important;
  text-decoration: none;
}

/* line 15, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content h1 {
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-size: 2.2em;
  font-weight: bold;
}

/* line 21, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content h1.app-name {
  font-size: 3.5em;
  margin: 40px 0 0 0;
  text-align: center;
}

/* line 27, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content h1.tweet-detail {
  font-size: 2.0em;
  margin: 10px 0 20px 0;
  padding-bottom: 10px;
  text-align: center;
}

/* line 34, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content h2.app-dek {
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  margin: 0px 0px 25px 0;
}

/* line 43, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content h3 {
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-style: normal;
  font-size: 2.0em;
  font-weight: bold;
  padding: 20px 0 10px 0;
}

/* line 51, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
p.byline {
  margin: 0 0 30px 0;
  font-family: 'Sentinel A', 'Sentinel B', Georgia, serif;
  font-size: 15px;
}

/* line 57, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .guff {
  font-size: 1.3em;
  line-height: 1.4em;
}

/* line 62, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .mobileintro {
  display: none;
}

/* line 66, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .about {
  font-size: 16px;
  margin-top: -5px;
}

/* line 71, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .accounts {
  font-size: 16px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}

/* line 78, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .crumbs {
  text-align: center;
  padding: 15px 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
}

/* line 86, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .crumbs > div {
  display: inline-block;
  margin-right: 2px;
}

/* line 91, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#content .crumbs > div a {
  display: inline-block;
}

/* line 95, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
ul {
  list-style-type: disc;
  list-style-position: inside;
  font-family: 'Sentinel A', 'Sentinel B', Georgia, serif;
  line-height: 1.4em;
  margin: 0 0 4px 0;
  padding-bottom: 5px;
}
/* line 102, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
ul li {
  font-size: 15px;
}

@media all and (max-width: 640px) {
  /* line 109, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content .mobileintro {
    display: block !important;
    font-family: "Sentinel A", "Sentinel B", Georgia, serif !important;
    font-size: 1.3em !important;
    line-height: 1.2em !important;
    padding-bottom: 5px;
  }

  /* line 116, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .avatar {
    float: left;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
  }

  /* line 121, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .tweet-header {
    position: relative;
    padding-left: 10px;
  }

  /* line 125, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .tweet {
    padding: 0px !important;
  }

  /* line 128, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .tweet img {
    float: left;
    height: 45px !important;
    margin: 0 10px 0 0;
    width: 45px !important;
    border: 1px solid #bfc8c0;
    padding: 4px;
  }

  /* line 136, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  h4.tweetTitle {
    max-width: 250px !important;
    float: left;
    padding-left: -10px;
  }

  /* line 141, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .tweet-content {
    float: left;
    max-width: 300px;
    clear: left;
    margin-bottom: -5px !important;
  }

  /* line 147, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .byline {
    text-align: left !important;
    max-width: 300px;
    clear: left !important;
  }

  /* line 152, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .permalink {
    width: 25px;
    float: none !important;
    display: inline-block !important;
  }

  /* line 157, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .permalink svg {
    float: none !important;
    width: 25px;
    top: 4px !important;
  }

  /* line 162, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .tweet .twicon {
    display: inline-block !important;
  }

  /* line 165, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  .tweet .twicon svg {
    float: left;
    height: 25px;
  }

  /* line 170, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  table.politicians {
    overflow: hidden;
  }

  /* line 173, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  table.politicians td.name span {
    width: 50%;
  }

  /* line 176, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  table.politicians td.state span {
    width: 50%;
  }

  /* line 179, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  table.politicians td.office span {
    display: none;
  }

  /* line 182, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  table.politicians td.party span {
    display: none;
  }

  /* line 186, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content .crumbs {
    display: none;
  }

  /* line 190, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content .guff {
    display: none;
  }

  /* line 194, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content h1.app-name {
    padding-bottom: 10px;
  }

  /* line 198, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content h2.app-dek {
    display: none;
  }

  /* line 202, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content h3 {
    font-family: "Sentinel A", "Sentinel B", Georgia, serif;
    font-style: normal;
    font-size: 1.8em;
    font-weight: bold;
    padding: 20px 0 10px 0;
  }

  /* line 210, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
  #content h3.follow {
    display: none;
  }
}
/* tweets */
/* line 217, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.avatar {
  width: 10%;
  float: left;
  margin-bottom: 5px;
  margin-right: 15px;
}

/* line 223, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet-header {
  margin-left: 5px;
}

/* line 227, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet {
  border-bottom: 1px solid #e2e0de;
  padding-bottom: 23px;
  margin-bottom: 23px;
  padding-left: 50px;
}

/* line 229, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet-text {
  float: left;
  font-size: 16px;
  margin-bottom: 5px;
  clear: left;
}

/* line 235, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweetTitle {
  font-weight: bold;
  font-size: 140%;
  margin-bottom: 5px;
}

/* line 236, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
h4.tweetTitle {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 239, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweetTitle a:link, .tweetTitle a:active, .tweetTitle a:visited {
  text-decoration: none;
  color: #068797;
}

/* line 240, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweetTitle a:hover {
  color: #063E5C;
  text-decoration: underline;
}

/* line 241, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweetTitle span {
  font-size: 72%;
  font-color: #8D8883;
}

/* line 245, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet img {
  height: 55px;
  margin: 0 20px 0 0;
  width: 55px;
  border: 1px solid #bfc8c0;
  padding: 4px;
}

/* line 246, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.contentLeft {
  float: left;
}

/* line 250, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.policount {
  width: 83px;
  font-size: 71.4%;
  color: #8a8079;
  line-height: 1.3em;
  text-align: center;
}

/* line 257, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.policount em {
  font-weight: bold;
  font-style: normal;
}

/* line 261, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.policount .number {
  font-size: 210%;
  color: #e7d26e;
  line-height: 1.2em;
  font-weight: 500;
}

/* line 268, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweetTitle a.linkUnderline:link, .tweetTitle a.linkUnderline:visited, a.linkUnderline:link, a.linkUnderline:visited {
  border-bottom: 1px dotted #5ca8b1;
  font-weight: normal;
  color: #8D8883;
}

/* line 273, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweetTitle a.linkUnderline:active, a.linkUnderline:active, .tweetTitle a.linkUnderline:hover, a.linkUnderline:hover {
  text-decoration: none;
  color: #063E5C;
}

/** For Ali: CSS I added to deal with screenshots of links */
/* line 281, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .images h3 {
  margin-top: 30px;
  font-size: 120%;
}

/* line 282, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .images img.screenshot {
  float: left;
  max-width: 160px;
  max-height: 120px;
  width: auto;
  height: auto;
  margin: 20px 0;
  margin-right: 20px;
  border: 1px solid #336699;
  padding: 3px;
}

/** End of section */
/* line 290, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .content {
  float: left;
  width: 600px;
}

/* line 291, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet-content {
  margin-bottom: 8px;
}

/* line 292, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .inactiveMess {
  margin-bottom: 8px;
  color: #8D8883;
  font-size: 90%;
  font-style: italic;
  margin-top: -3px;
  padding: 0 4px;
}

/* line 301, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet-content a {
  display: inline-block;
}

/* line 305, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.byline {
  clear: left;
}

/* line 309, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .byline, .tweet .byline {
  color: #8d8883;
  float: left;
}

/* line 310, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .byline {
  font-size: 90%;
  float: left;
}

/* line 311, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .byline .permalink {
  float: right;
}

/* line 314, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .byline .permalink svg {
  position: relative;
  margin-top: 5px;
  width: 25px;
  margin-left: -5px;
}

/* line 320, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .twicon {
  display: inline-block;
  vertical-align: middle;
}

/* line 324, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .twicon svg {
  float: left;
  height: 25px;
}

/* line 328, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .actions {
  float: left;
}

/* line 329, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.reply {
  padding-left: 20px;
  height: 47px;
  width: 59px;
  padding-top: 45px;
}

/* line 331, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.titleParty {
  text-transform: uppercase;
}

/* line 333, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.textReplace {
  display: block;
}

/* line 337, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
ul {
  width: auto;
}

/* line 339, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
li {
  margin-right: 1em;
}

/* line 341, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#pager {
  font-size: 95%;
  margin: 20px 0 50px 0;
  text-align: center;
}

/* line 347, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#pager a {
  margin-left: 5px;
}

/* line 348, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.previous_page {
  margin-right: 10px;
}

/* line 353, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .actions .button {
  text-indent: 0;
  height: 48px;
  width: 104px;
  background: #0097EB;
  color: white;
  text-decoration: none;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 366, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.tweet .actions .button-small {
  text-indent: 0;
  height: 48px;
  width: 48px;
  margin: 0 0 0 4px;
  background: #0097EB;
  color: white;
  text-decoration: none;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 380, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.numResults {
  margin-top: 20px;
}

/* line 384, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.numResults li {
  display: inline;
}

/* line 388, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td, table.politicians td img {
  vertical-align: middle;
}

/* line 393, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians img {
  width: 73px;
  height: 73px;
  padding: 4px;
}

/* line 398, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td.name span {
  width: 185px;
}

/* line 401, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td.state span {
  width: 116px;
}

/* line 404, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td.office span {
  width: 138px;
}

/* line 407, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td.party span {
  line-height: 1.1em;
}

/* line 410, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td.party em {
  font-size: 85%;
  display: block;
  font-family: Georgia, serif;
  color: #8A8079;
  font-style: italic;
}

/* line 417, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians .img {
  width: 73px;
  padding-right: 0;
  padding-left: 12px;
}

/* line 422, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians tr.even {
  background: #f8fcfa;
}

/* line 425, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians tr {
  border-bottom: 1px solid #d7e4dc;
}

/* line 428, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td {
  padding: 12px 0;
  text-align: left;
}

/* line 432, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td span {
  height: 73px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 12px;
}

/* line 438, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians td:last-child span, table.politicians .img {
  border: 0;
}

/* line 441, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
table.politicians a {
  font-weight: bold;
}

/* line 445, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.form-inline li {
  display: block;
  float: left;
  width: 180px;
  margin-right: 20px;
}

/* line 452, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
form#filter {
  margin-bottom: 26px;
}

/* line 455, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.title {
  background: url(/images/bg_filter.png) center bottom repeat-x;
  padding-bottom: 1px;
  margin-bottom: 23px;
}

/* line 460, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-weight: bold;
}

/* line 466, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
input[type=radio] + label {
  display: inline;
}

/* line 470, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.state-drop {
  overflow: hidden;
  background-color: white;
  border-left: 3px solid white;
  display: inline-block;
  position: relative;
}

/* line 478, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
.fancy-btn {
  padding: 0px 10px;
  -webkit-border-radius: 04px;
  -moz-border-radius: 04px;
  border-radius: 04px;
  font-weight: bold;
  border: 1px solid #dedede;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-box-shadow: #cecece 0 0 0px !important;
  -moz-box-shadow: #cecece 0 0 0px !important;
  -webkit-user-select: none;
  text-shadow: 1px 1px 0 white;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background: -moz-linear-gradient(top, #fff, #f0f0f0);
  font-size: 13px;
  color: #444 !important;
  text-transform: none;
  height: 30px;
  line-height: inherit;
  margin: 0px;
  font-weight: normal;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.10s ease-in-out;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  line-height: 1em;
  background: -ms-linear-gradient(top, #fff, #f0f0f0);
  background-color: #f0f0f0;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18%;
  margin-left: 1%;
}

/* line 518, /Users/chege/repo/politwoops/app/assets/stylesheets/home.scss.erb */
#filter button {
  display: inline;
  clear: both;
  margin-top: 18px;
}
/* line 1, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
html {
  background: #F7F4EF;
}

/* line 2, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#content {
  padding: 0 5px 60px;
}

/* line 4, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#content h1 {
  font-size: 2.5em;
}

/* line 6, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.wrapper {
  width: 100%;
  max-width: 1000px;
}

/* line 11, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.news-app-banner {
  padding: 10px;
  text-align: center;
  background-color: #ffd581;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* line 20, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.ribbon {
  border-bottom: 1px solid #eee;
}
/* line 23, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.ribbon h5 {
  font-family: "ff-meta-serif-web-1","ff-meta-serif-web-2", Georgia, serif;
  margin: 0 0 10px 0;
}
/* line 26, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.ribbon h5 a {
  color: #919191;
}

/* line 30, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.wide {
  width: 100%;
}

/* line 31, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.top {
  margin-top: 30px;
}

/* line 32, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
h1 {
  margin: 20px 0 10px;
  font-family: "Sentinel A", "Sentinel B", "Georgia",serif;
}

/* line 37, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.byline {
  font-size: 14px;
  font-style: normal;
  font-style: italic;
  color: #333;
  text-align: center;
}
/* line 44, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.byline a, .byline a:hover {
  color: #99C5E8;
}
/* line 48, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.byline a:hover {
  text-decoration: underline;
}

/* line 53, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
span.update {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  padding: 10px 0 0 0;
}

/* line 62, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.guff {
  margin: 18px 0 10px;
  font-size: 15px;
  line-height: 1.6em;
  color: #333;
  font-family: "Sentinel A", "Sentinel B", "Georgia",serif;
}

/* line 70, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.about {
  margin: 18px 0 10px;
  font-size: 15px;
  line-height: 1.4em;
  color: #333;
  font-family: "Sentinel A", "Sentinel B", "Georgia",serif;
}

/* line 78, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header {
  width: 100%;
  height: 40px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 85, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header .background-color {
  background-color: #F7F4EF;
  border-bottom: 2px solid #F5F0E9;
  width: 100%;
  height: 40px;
  position: absolute;
}
/* line 93, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header .wrapper {
  position: relative;
}
/* line 95, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header h4 {
  font-family: "ff-meta-serif-web-1","ff-meta-serif-web-2","Georgia",serif;
  float: left;
  font-size: 16px;
  padding: 3px 0 3px 10px;
  color: #666;
  position: relative;
  border-left: 1px solid #DDD;
  margin: 7px 0 0 10px;
}
/* line 105, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header h4 a, #header h4 a:hover {
  color: #666;
  text-decoration: none;
}
/* line 110, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header h4 .icon {
  padding: 0 6px 0 2px;
  position: relative;
  top: 1px;
  width: 12px;
}
/* line 118, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header h5 {
  height: 40px;
  text-align: left;
  width: 120px;
  float: left;
}
/* line 124, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header h5 a {
  height: 45px;
  width: 120px;
  display: inline-block;
  background: url("/assets/standard-logo.png") 0 10px no-repeat;
  background-size: contain;
}
/* line 133, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header .donate {
  float: right;
}
/* line 136, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header .donate h2 {
  background: #750101;
  background: -webkit-gradient(linear, left top, left bottom, from(#750101), to(#BA0909));
  background: -moz-linear-gradient(top, #750101, #ba0909);
  background: -ms-linear-gradient(top, #750101, #ba0909);
  width: 75px;
  text-align: center;
  display: block;
  font-size: 17px;
  line-height: 34px;
  border-bottom: 4px solid #BA0909;
  text-shadow: #7B3039 1px 1px 2px;
  text-transform: uppercase;
  cursor: pointer !important;
  font-weight: bold;
  font-family: "Helvetica Neue","Arial",sans-serif;
  padding: 3px 8px;
  margin: 0px;
}
/* line 155, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header .donate h2 a {
  text-decoration: none;
  color: #FFF;
}
/* line 162, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share {
  float: right;
  margin: 10px 4px 0 0;
}
/* line 167, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share li {
  width: 30px;
  height: 30px;
  margin-right: .5em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
/* line 175, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share li a {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 188, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share li.comment {
  border: none;
}
/* line 192, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share .facebook a {
  background: url("https://static.propublica.org/assets/sprites-smaller.min.svg?20130417") 0 0 no-repeat;
}
/* line 193, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share .facebook a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 194, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share .twitter a {
  background: url("https://static.propublica.org/assets/sprites-smaller.min.svg?20130417") 3px -50px no-repeat;
}
/* line 195, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share .twitter a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 196, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share .sina-weibo a {
  background: url("https://static.propublica.org/assets/sprites-smaller.min.svg?20130417") 0 -100px no-repeat;
}
/* line 197, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#header #banner-share .sina-weibo a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 203, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.main .wide {
  margin: 30px auto 40px;
  width: 100%;
}

/* line 210, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

/* line 215, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div:first-child {
  margin-right: 2%;
}

/* line 220, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div {
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 0px;
  width: 49%;
  float: left;
  margin: auto;
  text-align: left;
  padding: 15px 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EFEFEF;
}
/* line 234, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div div {
  float: left;
  max-width: 325px;
  width: 100%;
  padding: 0px;
}
/* line 241, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div a {
  margin-top: 2px;
  display: block;
  font-weight: bold;
}
/* line 247, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div img {
  width: 85%;
}
/* line 251, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div div:first-child {
  width: 125px;
}
/* line 255, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div h3 {
  font-size: 18px;
  color: #444;
  margin: 0px 0px 3px;
  font-style: italic;
}
/* line 261, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#community-promo-box > div p {
  color: #444;
}

/* line 265, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
footer {
  color: #898989;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  margin: 70px auto 0px;
  border-top: 1px solid #eee;
  padding-top: 20px;
  width: 100%;
}
/* line 274, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
footer p {
  margin: 0 0 10px 0;
}
/* line 276, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
footer p.footnote {
  padding: 20px 0 0 0;
  border-top: 1px solid #EEE;
  margin: 20px 0 10px 0;
}

/* line 283, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#footer {
  background: #F7F4EF;
  border-top: 2px solid #F5F0E9;
}

/* line 288, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#footer-logo-image {
  background: url("/assets/standard-footer-logo.png") 0 0 no-repeat;
  background-size: contain;
}

/* line 290, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
#footer .wrapper {
  padding: 30px 0;
}

/* line 292, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 298, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
.cf:after {
  clear: both;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  /* line 306, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
  #header h5 {
    height: 40px;
    text-align: left;
    width: 120px;
    float: left;
  }
  /* line 312, /Users/chege/repo/politwoops/app/assets/stylesheets/layout.scss.erb */
  #header h5 a {
    height: 45px;
    width: 120px;
    display: inline-block;
    background: url("/assets/standard-logo.png") 0 10px no-repeat;
    background-size: contain;
  }
}
@media screen and (max-width: 480px) {
  /* line 3, /Users/chege/repo/politwoops/app/assets/stylesheets/mobile.css.scss */
  html body {
    background: none;
    padding-top: 0px;
  }

  /* line 8, /Users/chege/repo/politwoops/app/assets/stylesheets/mobile.css.scss */
  #content h1.app-name {
    margin: 20px 0 0 0;
  }

  /* line 12, /Users/chege/repo/politwoops/app/assets/stylesheets/mobile.css.scss */
  .search-box input[type="text"] {
    width: 70%;
  }

  /* line 16, /Users/chege/repo/politwoops/app/assets/stylesheets/mobile.css.scss */
  .search-box .fancy-btn {
    width: 28%;
  }
}
/* line 1, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.search-box {
  width: 100%;
  padding: 15px 15px 0 15px;
  background: #e9f0f8;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 12, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.search-box h3 {
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  line-height: 1.4em;
  font-size: 1.5em;
  padding: 0 0 8px;
  margin-top: -25px;
}
/* line 20, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.search-box .examples {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  margin: 10px 0 15px;
  font-size: 11px;
}
/* line 26, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.search-box .users {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  margin: -27px 0 0;
  font-size: 11px;
  float: right;
}
/* line 33, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.search-box input[type="text"] {
  width: 48%;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #dedede;
  padding: 0 10px 0 30px;
  background: url("//propublica.s3.amazonaws.com/images/mag_glass.png") no-repeat top left #fff;
  background-size: 28px;
  font-weight: 500;
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-size: inherit;
  float: left;
  margin: 0px;
  height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.search-box .filter-btn {
  padding: 0px 10px;
  -webkit-border-radius: 04px;
  -moz-border-radius: 04px;
  border-radius: 04px;
  font-weight: bold;
  border: 1px solid #dedede;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-box-shadow: #cecece 0 0 0px !important;
  -moz-box-shadow: #cecece 0 0 0px !important;
  -webkit-user-select: none;
  text-shadow: 1px 1px 0 white;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background: -moz-linear-gradient(top, #fff, #f0f0f0);
  font-size: 13px;
  color: #444 !important;
  text-transform: none;
  height: 30px;
  line-height: inherit;
  font-weight: normal;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.10s ease-in-out;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  line-height: 1em;
  background: -ms-linear-gradient(top, #fff, #f0f0f0);
  background-color: #f0f0f0;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18%;
  margin-left: 1%;
}

/* line 94, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.state-guff {
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  margin-right: 5px;
  font-size: 15px;
}

/* line 100, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.states {
  font-weight: 500;
  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-size: inherit;
  float: right;
  height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 111, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.state-select {
  background: transparent;
  border-radius: 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  background: #FFF;
  height: 25px;
  border: none;
}

/* line 121, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
.state-drop {
  overflow: hidden;
  background-color: white;
  border-left: 3px solid white;
  display: inline-block;
  position: relative;
}

@media all and (max-width: 640px) {
  /* line 130, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
  .examples {
    display: none;
  }

  /* line 134, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
  .users {
    padding-top: 10px;
    float: left !important;
    display: inline-block !important;
  }

  /* line 140, /Users/chege/repo/politwoops/app/assets/stylesheets/search.css.scss */
  .states {
    padding-top: 5px;
    float: left !important;
    display: inline-block !important;
  }
}
.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}
