<% content_for :title do %>
    Deleted Tweet from <%= @tweet.details['user']['name'] %>
<% end %>

<h1 class="app-name">Deleted Tweet from <%= @tweet.details['user']['name'] %></h1>

<%= render :partial => "tweets/tweet", :locals => {:tweet => @tweet} %>
