<h1 class="app-name">Politwoops</h1>
<h2 class="app-dek">Deleted Tweets from Politicians</h2>
<p class="byline">Originally published by <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>. Updated regularly.</p>

<p class="guff">Politwoops tracks deleted tweets by current politicians, including those in office and candidates. In most cases, Twitter <a href="https://dev.twitter.com/overview/terms/agreement-and-policy">doesn't allow the storing of deleted tweets</a>, but ProPublica (and The Sunlight Foundation, which previously hosted Politwoops) is permitted to do so for politicians running for office, appointed to office or elected to office. We don't track previous candidates but do show deleted tweets
  from when they were in office or running.</p>
<p class="guff">If you aren't an elected official or running for office and feel your account is being tracked by mistake then <a href="mailto:politwoops@propublica.org">please contact us</a>.</p>

<% content_for :feeds do %>
  <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
<% end %>
