<h1 class="app-name">Politwoops</h1>
<h2 class="app-dek">Deleted Tweets from Politicians</h2>
<p class="byline">Originally published by <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>. Updated regularly.</p>

<% content_for :feeds do %>
  <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
<% end %>

<p class="about">Politwoops tracks tweets deleted by public officials and candidates for public office. It's based on <a href="https://politwoops.nl/">politwoops.nl</a>, a project created by the Open State Foundation in The Netherlands in 2010. It was originally published in the U.S. in 2012 by the Sunlight Foundation. ProPublica took over the project in November 2016.</p>
<p class="about">Its code is open source:</p>
  <ul>
    <li><%= link_to "Politwoops app", "https://github.com/propublica/politwoops" %></li>
    <li><%= link_to "Tweet collector", "https://github.com/propublica/politwoops-tweet-collector" %></li>
  </ul>


<h3>Removal Requests</h3>

<p class="about">ProPublica inherited an agreement with Twitter that allows us to identify and display the deleted tweets of public officials and candidates running for public office. We don't continue to track candidates no longer in or running for office but do show deleted tweets from the time they were candates or elected officials.</p>

<p class="about">If you think your tweets don't belong in Politwoops because you aren't a public official or candidate for public office, let us know. If you don't fall into one of those categories but think your tweets should be excluded anyway, we will consider requests on a case-by-case basis from those who can show that deleted tweets are a threat to personal or information security or cause some other problem that goes beyond political impact or personal embarrassment.</p>

<p class="about">To ask questions or request removal, email us at <a href="mailto:politwoops@codeforafrica.org">politwoops@codeforafrica.org</a>.</p>

<h3>Support</h3>

<p class="about">Are we missing somebody whose tweets should be tracking? Let us know: <a href="mailto:politwoops@codeforafrica.org">politwoops@codeforafrica.org</a>.</p>
